.appLayout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.linksFlex {
  flex: 1 1 auto;
  /* border-right: dashed;
  border-color: coral; */
}

.componentsFlex {
  flex: 9 1 auto;
}

.padLeftAndTop {
  padding-left: "50px";
  padding-top: "900px";
}

.padLeft {
  padding-left: "50px";
}
